/**
*  Base examples styles.
*/

/** SVG viewport */
.viewport {
  width: 600px;
  height: 300px;
  float : left;
}

.viewport-small {
  width: 400px;
  height: 200px;
}

/** Axis styles */
.axis path {
  fill: none;
  shape-rendering: crispEdges;
}

.axis .tick line {
  fill: none;
  stroke: lightgrey;
  shape-rendering: crispEdges;
}

.show path {
  display : none;
}

.dot {
  stroke: #000;
}

/** Basic colors */
.yellow {
  fill : yellow;
}

.green {
  fill : green;
}

.blue {
  fill : steelblue;
}

.red {
  fill : red;
}

.white {
  fill : white;
}

.charty-dark-gray{
  fill : darkgray;
}

.charty-light-gray{
  fill : lightgrey;
}

/** Gradient definition */
.gray {
  fill : url(#gradient1);
}

/** Line colors*/
.blueline {
   fill: none;
   stroke: steelblue;
   stroke-width: 1.5px;
}

.redline {
  fill: none;
  stroke: red;
  stroke-width: 1.5px;
}

.grayline {
  fill: none;
  stroke: gray;
  stroke-width: 1.5px;
}

/** Background images differents positions */
.imgCenter {
  background: url('../img/image.png') 50% 50% no-repeat;
}

.imgLeft {
  background : url('../img/image.png') center 50% no-repeat;
}

.imgRight {
  background : url('../img/image.png') 100% 50% no-repeat;
}

/** Stop colors for gradients */
.stop1 { stop-color: red; }
.stop2 { stop-color: white }
.stop3 { stop-color: blue; }


.win {
  fill : steelblue;
}

.loss {
  fill : red;
}
